:root {
}

body {
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #757575;
}
/*a {
  text-decoration-line: none;
}*/

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo {
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-Web {
  font-family: "Raleway", sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.header-logo-link:hover,
.header-logo-link:focus {
  color: #2196f3;
}
/*Шапка: Логотип, навігація, контакт email, тел*/
/*адреса контакт email, тел*/
.navigation-list-item-link,
.header-address-list-mail-link,
.header-address-list-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation-list-item-link:hover,
.navigation-list-item-link:focus {
  color: #2196f3;
}

.header-address-list-mail-link,
.header-address-list-tel-link {
  color: #757575;
}

/* НЕ ВІДОМО ЧОМУ ПРИ Hover ts Focus
 Конфліктують кольори сиилок списку та адреси,
  зробив як є но мило чомусь стало постійно синім?????*/
.header-address-list-mail-link,
.header-address-list-tel-link:hover {
  color: #2196f3;
}
.header-address-list-mail-link,
.header-address-list-tel-link:focus {
  color: #2196f3;
}
/*<!--main 5 секцій:заголовок і кнопка,Особенности 
Чем мы занимаемся Наша команда Постоянные клиенты-->*/
/*заголовок і кнопка*/
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background: #e5e5e5;
}

.main-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
}

.main-button:hover {
  color: #2196f3;
}
.main-button:focus {
  color: #2196f3;
}

/*Особенности*/
.Section-advantag-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.Section-advantage-deskription {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/*Чем мы занимаемся*/
.section-projects-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.section-projects-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

/*Наша команда*/
.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.section-team-manager-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.section-team-manager-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.section-team-manager-social-links-list .a {
}

/*Постоянные клиенты*/
.section-client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/*Footer: Лого, Адреса, Приєднуйтесь, Підписуйтесь*/
.footer {
  background: #2f303a;
}
.footer-logo-link {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.logo-Web:hover,
.footer-logo-link:hover,
.logo-Web:focus,
.footer-logo-link:focus {
  color: #2196f3;
}

.footer-address-list-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
/* ЧОМУ при hower ТУТ НЕ ПРАЦЮЄ ?. чому воно його взагалі перескакує*/
.footer-address-list-map:focus,
.footer-address-list-map:hover {
  color: #2196f3;
}

.footer-address-list-mail,
.footer-address-list-tel {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-address-list-mail:focus,
.footer-address-list-mail:hover,
.footer-address-list-tel:focus,
.footer-address-list-tel:hover {
  color: #2196f3;
}

.footer-actions {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-actions:focus,
.footer-actions:hover {
  color: #2196f3;
}

.footer-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-button:hover,
.footer-button:focus {
  color: #2196f3;
}

.footer-actions-input-text-emaile {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: #2f303a;
}
.footer-actions-input-text-emaile:hover,
.footer-actions-input-text-emaile:focus {
  color: #2196f3;
}
