:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --title-dark-theme-color: #ffffff;
  --title-light-theme-color: #212121;
  --accent-color: #2196f3;
  --text-light-theme-color: #757575;
  --btn-background-portfolio: #f5f4fa;
}

body {
  background-color: #ffffff;
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--text-light-theme-color);
}
/*a {
  text-decoration-line: none;
}*/

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo {
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.header-logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-Web {
  font-family: var(--secondary-font);
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-logo-link:hover,
.header-logo-link:focus {
  color: var(--accent-color);
}
/*Шапка: Логотип, навігація, контакт email, тел*/
/*адреса контакт email, тел*/
.navigation-list-item-link,
.header-address-list-mail-link,
.header-address-list-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-light-theme-color);
}

.navigation-list-item-link:hover,
.navigation-list-item-link:focus {
  color: var(--accent-color);
}

.header-address-list-mail-link,
.header-address-list-tel-link {
  color: var(--text-light-theme-color);
}

.header-address-list-mail-link:hover,
.header-address-list-tel-link:hover {
  color: var(--accent-color);
}
.header-address-list-mail-link:focus,
.header-address-list-tel-link:focus {
  color: var(--accent-color);
}
/*<!--main 5 секцій:заголовок і кнопка,Особенности 
Чем мы занимаемся Наша команда Постоянные клиенты-->*/
/*заголовок і кнопка*/
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-dark-theme-color);
  background: var(--btn-background-portfolio);
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--title-dark-theme-color);
  background: var(--accent-color);
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--accent-color);
}

/*Особенности*/
.Section-advantag-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-light-theme-color);
}

.Section-advantage-deskription {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-light-theme-color);
}

/*Чем мы занимаемся*/
.section-projects-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-light-theme-color);
}
.section-projects-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-dark-theme-color);
  background: rgba(47, 48, 58, 0.8);
}

/*Наша команда*/
.section-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-light-theme-color);
}
.section-team-manager-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-light-theme-color);
}
.section-team-manager-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-light-theme-color);
}

/*Іконки соціальних мереж менеджерів*/

/*Постоянные клиенты*/
.section-client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-light-theme-color);
}

/*іконки постійних клієнтів*/

/*Footer: Лого, Адреса, Приєднуйтесь, Підписуйтесь*/
.footer {
  background: #2f303a;
}
.footer-logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.logo-Web:hover,
.footer-logo-link:hover,
.logo-Web:focus,
.footer-logo-link:focus {
  color: var(--accent-color);
}

.footer-address-list-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-dark-theme-color);
}
/* ЧОМУ при fokus ТУТ НЕ ПРАЦЮЄ ?. чому воно його взагалі перескакує*/
.footer-address-list-map:focus,
.footer-address-list-map:hover {
  color: var(--accent-color);
}

.footer-address-list-mail,
.footer-address-list-tel {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-address-list-mail:focus,
.footer-address-list-mail:hover,
.footer-address-list-tel:focus,
.footer-address-list-tel:hover {
  color: var(--accent-color);
}

.footer-actions {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-dark-theme-color);
}

.footer-actions:focus,
.footer-actions:hover {
  color: var(--accent-color);
}

/* footer Іконки соціальних мереж*/
.footer-actions-social-links-list-item {
}

.footer-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--title-dark-theme-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-button:hover,
.footer-button:focus {
  color: var(--accent-color);
}

.footer-actions-input-text-emaile {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: #2f303a;
}
.footer-actions-input-text-emaile:hover,
.footer-actions-input-text-emaile:focus {
  color: var(--accent-color);
}

/*Портфлоліо*/

/*button*/
.portfolio-btn-list .portfolio-modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-dark-theme-color);
}
.portfolio-btn {
  background: #f5f4fa;
}
.portfolio-list-projects:hover,
.portfolio-list-projects:focus {
  color: var(--accent-color);
}

/*portfolio-link link*/

/*Portfolio-title*/
.Portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-light-theme-color);
}
.Portfolio-title:hover,
.Portfolio-title:focus {
  color: var(--accent-color);
}

.portfolio-deskription {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-light-theme-color);
}
.portfolio-deskription:hover,
.portfolio-deskription:focus {
  color: var(--accent-color);
}
.portolio-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--title-dark-theme-color);
}

.portfolio-img:focus,
.portfolio-img:hover {
  color: var(--accent-color);
}
